*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width:50vw;
height: 100vh;  
}

  .topmenu-father{
    width: 100vw;
    height: 4vh;
    border: 1px red solid;
    align-items: center;
    display: flex;
    justify-content:space-around;
flex-direction: row;

      
  }
  
  .topmenu-rightside{
display: flex; 
justify-content: flex-start;
align-items: center;
 }
 .youtube{
     align-self:flex-start;
 }
  .topmenu-midtsied{
      justify-content: center;
      align-items: center;
      width: 32vh;
  }
  .topmenu-leftside{
      justify-content: flex-end;
      align-items: center;
  }
  .searchbox{
      width: 66vw;
  }
  .img-div{
      position: relative;
      left: 17%;
      right: 10%;
      width: 100vw;
      height: 12vw;
}
.img{
    width: 90vw;
    height: 20vh;
}

.subscriber{
    width: 90vw;
    height: 17vh;
    background-color: black;
    position: absolute;
    right:  10%;
    left: 9%;
}
 .img-subscriber{
     height: 12vh;
     width: 8vw;
 }
.span-subscriber{
    position: absolute;
    font-size: 2rem;
    text-align: center;
    color: yellow;
}
.button-subscriber{
    position: relative;
    left:  75%;
    bottom:  42%;
    width: 18vh;
    height: 4vw;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;

}

.subscriber nav ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.subscriber nav ul li{
    display: inline;
}
.subscriber nav ul li a{
    color: white;
}

















  

