*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100vw;
height: 100vh;    
}

  .topmenu-father{
    width: 100vw;
    height: 4vh;
    border: 1px red solid;
    align-items: center;
    display: flex;
    justify-content:space-around;
flex-direction: row;

      
  }
  
  .topmenu-rightside{
display: flex; 
justify-content: flex-start;
align-items: center;
 }
 .youtube{
     align-self:flex-start;
 }
  .topmenu-midtsied{
      justify-content: center;
      align-items: center;
      width: 32vh;
  }
  .topmenu-leftside{
      justify-content: flex-end;
      align-items: center;
  }
  .searchbox{
      width: 66vw;
  }
  .block{
      position: relative;
}
 
  

