*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
width: 100vw;
height: 100vh;    
}
.top-menu{
    width: 100vw;
    height: 5vh;
    border: 1px red solid;
    align-items: center;
    display: flex;
    justify-content:space-around;
flex-direction: row;

  }
  .topmenu-rightsied{
      justify-content: flex-start;
      
  }
  .topmenu-midtsied{
      width: 16vh;
      height: 16vh;
  }
  .input{
      width: 16vw;
  }
 
  

