$normalized-margin: 0;
$normalized-pasding: 0;
$root-font-size: 16px;
$body-width: 100vw;
$body-height: 100vh;
$main-content-width: 90%;
$main-content-height: 90%;
$aside-width: 8%;
$aside-height: 10%;
$header-width: 100%;
$header-height: 4vh;
$header-menu-width: 15%;
$header-search-width: 43%;
$header-icon-width: 30%;
$search-box-width: 70%;
$hamburger-width: 3vh;
$hamburger-height: 4vh;
$hamburger-div-width: 3vh;
$drop-menu-width: 10vh;
$drop-menu-height: 55vh;
$drop-menu-margin-top: 4vh;
$list-item-width: 80%;
$list-item-height: 10%;
$word-font-size: 1.5rem;
$img-width: 90vw;
$img-height: 12vw;
$subscriber-width: 90vw;
$subscriber-height: 22vh;
$img-subscriber-width: 12vh;
$img-subscriber-height: 8vw;
$h2-font-size: 1rem;
$span-subscriber-font-size: 2rem;
$upload-section-width: 80%;
$subscription-font-size: 1.5rem;
$upload-father-width: 1400px;
$upload-father-height: 250px;
$upload-title-height: 30px;
$upload-title-width: 1px;
$upload-title-font-size: 1.5rem;
$videos-height: 300px;
$videos-width: 1250px;
$aside-font-size: 1rem;
$line1-height: 4vh;
$line1-width: 8vw;
